/*  

Author: Jobert Manosca
Course: Winter 1 Bootcamp 2020
Instructor: Colin D'Amelio
Date: January 27, 2020

Notes:

- Redundant classes?
- Code probably not dry.
- No favicons used
- No media query for 480px
- Not pixel perfect match to design
- No bonuses attempted

Colours:

Accent colour
#FDC800
253, 200, 0

Black shade
#232323
35, 35, 35

Background colour
#EAEDF4
234, 237, 244

White shade
#F8F8F8
248, 248, 248

*/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* SETUP  BARRIER */

/* GLOBAL */

html { font-size: 62.5%; }

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1.8rem;
    background: #EAEDF4;
    color: #232323;
    /* line height breaks the dynamic height of my content */
    /* line-height: 2.9rem; */
    text-align: center;
}

p {
    font-size: 1.6rem;
    line-height: 2.9rem;
}

h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
}

h2 span, h3, h4 {
    text-transform: uppercase;
}

h4 {
    font-size: 2rem;
    margin-bottom: 5px;
}

h3, .welcome {
    font-size: 3.2rem;
}

h1 { font-weight: 400; }

.about h3, .bio-text h3 {
    text-transform: none;
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.about h3,
.bio-text h3,
h2,
.logo {
    font-family: 'Great Vibes', cursive;
}

ul { 
    list-style: none; 

    /* Gets rid of white space */
    font-size: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    color: #232323;
    display: inline-block;
}

img {
    max-width: 100%;
    /* I'm pretty sure the best practice is to set the height of the image to be 100% of its parent container but it does what it wants in Chrome. Height auto seems to work for both browsers though. */
    /* height: 100%; */
    height: auto;
    object-fit: cover;
    display: block;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.gallery,
.bio {
    background: #F8F8F8;
}

.link-button,
header nav ul {
    margin-top: 15px;
}

.link-button {
    background: #FDC800;
    padding: 15px 30px;
}

.link-button:hover, .link-button:focus {
    background: #232323;
    color: #F8F8F8;
}

/* HEADER */
header {
    background: url("../assets/asset-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

header nav {
    width: 100%;
}

.mobile_only,
input[type="checkbox"] {
    display: none;
}

.mobile_only {
    position: fixed;
    z-index: 20;
    top: 2.5%;
    right: 3%;
    font-size: 2.6rem;
    padding: 10px;
}

.logo {
    text-transform: none;
    float: left;
    font-size: 3.2rem;
}

header nav ul {
    padding-top: 10px;
    float: right;
    width: auto;
}

header nav ul li,
.helpful-links li {
    display: inline-block;
}

header nav a {
    padding: 10px 15px;
    border-bottom: 2px transparent solid;
}

header nav a:hover, header nav a:focus {
    border-bottom: 2px #232323 solid;
}

.welcome {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    display: block;
}

.header-text {
    clear: both;
    position: absolute;
    width: 100%;
    height: auto;

    /* this combo is the only way I know to center vertically without flex */
    top: 50%;
    transform: translateY(-50%);
    
    text-align: center;
}

.sm-links {
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
}

.sm-links a {
    padding: 10px;
    color: #FDC800;
}

.sm-links a:hover, .sm-links a:focus {
    color: #232323;
}

h2 {
    text-transform: none;
    font-size: 14rem;
    font-weight: 400;
    margin-top: 5px;
}

/* MAIN */

.about {
    width: 60%;
    margin: 100px auto;
}

.helpful-links {
    background: #232323;
    padding: 75px 0;
}

.icon {
    margin: 0 4%;
}

.helpful-links a{
    color: #F8F8F8;
    padding: 20px;
}

.helpful-links a:hover, .helpful-links a:focus{
    color: #FDC800;
}

.fa-utensils,
.fa-book-open,
.fa-envelope {
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 3rem;
}

.gallery {
    padding: 75px 0;
}

.image-holder {
    width: calc(100%/3 - 2%);
    margin: 1%;

    float: left;
}

.tips-n-recipes {
    clear: both;
}

.tips-text,
.recipes-text {
    /* width: 100%; */
    max-width: 300px;
    padding-top: 75px;
}

.tips-text-holder {
    float: left;
}

.tips-text {
    float: right;
    margin-right: 10%;
}

.right,
.recipes-text-holder { float: right; }

.recipes { clear: both; }

.recipes-text {
    float: left;
    margin-left: 10%;
}

.left { float: left; }

.tips-text-holder,
.recipes-text-holder,
.half { 
    width: 50%; 
}

.half img {
    min-height: 375px;
}

.bio {
    clear: both;
    padding: 75px 0;
}

.portrait {
    width: calc(25% - 4%);
    min-width: 190px;
    float: left;
    margin: 2%
}

.portrait img{
    border-radius: 50%;
}

.bio-text {
    text-align: left;
}

/* FOOTER */

footer {
    clear: both;
    background: #232323;
    color: #F8F8F8;
    padding: 75px 30px;
    text-align: left;
}

footer p, .copyright p {
    margin: 0;
}

footer ul {
    font-size: 1.8rem;
}

footer a {
    color: #F8F8F8;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 3px 0;
}

footer a:hover, footer a:focus {
    color: #FDC800;
}

.contact-box,
footer nav,
.recent-posts {
    float: left;
}

.contact-box,
footer nav,
.recent-posts {
    width: calc(50%/3 - 2%);
    margin: 0 1%;
}

.contact-box p:nth-of-type(3):after {
    content: ",";
}

.recent-posts a {
    text-transform: capitalize;
    font-weight: 400;
}

.subscription {
    float: right;
    width: 50%;
}

.subscription form {
    margin-top: 5px;
    width: 100%;
    font-size: 0;
}

.subscription input, 
.subscription button {
    font-size: 1.8rem;
}
.subscription input {
    border: none;
    padding: 10px 20px;
    width: 75%;
}

.subscription button {
    border: none;
    background: #FDC800;
    color: #232323;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
    width: 25%;
}

.subscription button:hover, .subscription button:focus {
    background: #ee0000;
    color: #F8F8F8;
}

.copyright {
    clear: both;
    background: #000;
    color: #EAEDF4;
    text-align: center;
    padding: 5px 0;
}

/* MEDIA QUERIES */

/* Small Desktop */
@media (max-width: 1280px) {
    .container {
        width: 90%;
    }

    .sm-links {
        top: 100%;
        transform: translateY(50%);
    }

    footer nav {
        width: calc(50%/5);
    }

    .recent-posts {
        width: 19%;
    }

    .subscription {
        float: right;
    }

    .subscription button {
        padding: 11px 0;
        font-size: 1.6rem;
    }
}

/* Tablets */

@media (max-width: 940px) {
    .mobile_only {
        display: inline-block;
    }

    header nav ul {
        position: fixed;
        right: -9999px;
    }

    footer {
        padding: 25px;
    }

    .contact-box,
    footer nav,
    .recent-posts {
        width: calc(100%/3 - 2%);
    }

    .subscription {
        clear: both;
        float: none;
        text-align: center;
        width: 100%;
        padding: 30px 0;
    }

    form {
        max-width: 500px;
        margin: auto;
    }
}

/* Landscapes */
@media (max-width: 768px) {
    .container,
    .tips-text-holder,
    .recipes-text-holder,
    .contact-box,
    footer nav,
    .recent-posts,
    .about,
    .icon,
    .half,
    .bio-text,
    .subscription input,
    .subscription button {
        width: 100%;
    }

    .sm-links {
        visibility: hidden;
    }

    .about {
        padding: 25px;
        margin: 0;
    }

    .helpful-links {
        padding: 25px;
    }

    .icon {
        margin: 0;
    }

    .gallery {
        font-size: 0;
    }

    .gallery,
    .image-holder {
        padding: 0;
        margin: 0;
    }

    .image-holder {
        width: 50%;
    }

    .gallery li:last-child {
        display: none;
    }

    .tips-text, .recipes-text {
        clear: both;
        float: none;
        max-width: none;
        margin: 0;
        padding: 50px;
    }

    .half {
        float: none;
    }

    .bio {
        padding: 50px;
    }

    .portrait {
        float: none;
        width: 50%;
        margin: auto;
    }

    .bio-text {
        text-align: center;
    }
    
    .bio-text h3 {
        margin-top: 30px;
    }

    .bio-text p{
        text-align: left;
    }

    .contact-box,
    footer nav,
    .recent-posts {
        text-align: center;
        float: none;
        margin-top: 50px;
    }
    
    .subscription input {
        text-align: center;
    }
    
    .subscription button {
        margin-top: 10px;
    }

    .contact-box {
        margin: auto;
        max-width: 250px;
    }

    .contact-box p {
        display: inline-block;
    }

    .contact-box p:nth-of-type(3):after {
        content: ".";
    }

    .contact-box p:nth-of-type(1):after {
        content: ",";
    }

    footer li {
        display: inline-block;
    }

    footer li:not(:first-child):before {
        content: "";
        margin-right: 10px;
    }

    footer li:not(:last-child):after {
        content: "|";
        margin-left: 10px;
    }

    .recent-posts {
        display: none;
    }
}