/*  

Author: Jobert Manosca
Course: Intro to Web Development Continuing Education Summer 2019
Instructor: Colin D'Amelio
Date: January 27, 2020

Notes:

- Redundant classes?
- Code not dry.
- Improper hierarchy. (h3 above h2 in html)
- No favicons used
- Not responsive
- Not pixel perfect match to design
- No bonuses attempted

*/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* ///////////////////////////////////////////////////////////////////////////////////////////// */
/* SETUP  BARRIER */

/* GLOBAL */

html { font-size: 62.5%; }

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1.8rem;
    background: #EAEDF4;
    color: #232323;
    /* line-height: 2.9rem; */
    text-align: center;
}

p {
    line-height: 2.9rem;
}

h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
}

h2 span, h3, h4 {
    text-transform: uppercase;
}

h3, .welcome {
    font-size: 3.2rem;
}

.about h3, .bio-text h3 {
    text-transform: none;
    font-size: 4.2rem;
    font-weight: 400;
}

.about h3,
.bio-text h3,
h2,
.logo {
    font-family: 'Great Vibes', cursive;
}

ul { list-style: none; }

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    /* font-size: 2rem; */
    color: #232323;
    display: inline-block;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.gallery,
.bio {
    background: #F8F8F8;
}

.link-button {
    background: #FDC800;
    padding: 15px 30px;
    margin-top: 15px;
}

/* HEADER */
header {
    background: url("../assets/asset-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

header nav {
    width: 100%;
}

.logo {
    text-transform: none;
    float: left;
    font-size: 3.2rem;
}

h1 { font-weight: 400; }

header nav ul {
    margin-top: 15px;
    float: right;
}

header nav ul li,
.helpful-links li {
    display: inline-block;
}

header nav a {
    padding: 15px;
}

.welcome {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    display: block;
}

.header-text {
    clear: both;
    position: absolute;
    width: 100%;
    height: auto;

    /* this combo is the only way I know to center vertically without flex */
    top: 50%;
    transform: translateY(-50%);
    
    text-align: center;
}

.sm-links {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sm-links a{
    padding: 10px;
    color: #FDC800;
}

h2 {
    text-transform: none;
    /* display: block; */
    font-size: 14rem;
    font-weight: 400;
    margin-top: 5px;
}

/* MAIN */

.about {
    width: 60%;
    margin: 100px auto;
}

.helpful-links {
    background: #232323;
    padding: 75px 0;
}

.icon {
    margin: 0 4%;
}

.helpful-links a{
    color: #F8F8F8;
    padding: 20px;
}

.fa-utensils,
.fa-book-open,
.fa-envelope {
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
    font-size: 3rem;
}

.gallery {
    padding: 75px 0;
}

.image-holder {
    display: inline-block;
    width: calc(100%/3 - 3%);
    margin: 1%;
}

.tips-text,
.recipes-text {
    width: 50%;
    max-width: 300px;
    padding-top: 75px;
}

.tips-text {
    float: right;
    margin-right: 10%;
}

.right { float: right; }

.recipes { clear: both; }

.recipes-text {
    float: left;
    margin-left: 10%;
}

.left { float: left; }

.half { width: 50%; }

.bio {
    clear: both;
    padding: 75px 0;
}

.bio-text,
.portrait {
    display: inline-block;
}

.portrait {
    width: calc(25% - 4%);
    margin: 2%
}

.portrait img{
    border-radius: 50%;
}

.bio-text {
    text-align: left;
    width: 74%;
}

/* FOOTER */

footer {
    background: #232323;
    color: #F8F8F8;
}

footer a {
    color: #F8F8F8;
}

.copyright {
    background: #000;
    color: #EAEDF4;
}
/* MEDIA QUERIES */